.ui.grid{
	margin: 0 !important;
}

.activity-header{
	font-size: 3rem !important;
	padding-top: 30px !important;
}

.calendar {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100px !important;
}

.dateMod {
	background: linear-gradient(
	      rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../photodump/tug-of-war.jpg')
                   top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 150px;
  text-align: center;
  height: 700px;
}

.dateSelect{
	background-color: rgba(255, 255, 255, 0.5);
	width: 550px;
	border-radius: 20px;
	margin: 0 auto;
}

.day-picker {
	display: inline-flex !important;
	width: 100% !important;
	justify-content: center !important;
	align-self: center !important;
  height: 50px;
  border-radius: 10px;
  padding: 0 30px;
}

.actMod {
	background: linear-gradient(
	      rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url('../photodump/tug-of-war.jpg')
                   top center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 660px;
}

.actInfo {
	background-color: rgba(255, 255, 255, 0.4);
	margin-bottom: 40px;
}

.singleAct {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.singleAct-date {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100px;
}

.singleAct-header {
	font-size: 3rem !important;
}

.singleAct-picker {
  width: 100% !important;
  height: 50px;
  border-radius: 10px;
  padding: 0 30px;
}

@media (max-width: 922px) {
	.activity-title {
		font-size: 1.7rem !important;
	}
}

@media (max-width: 768px) {
	.activity-title {
		font-size: 1.4rem !important;
		margin: 10px 0;
	}
	.activityName {
		font-size: 1.2rem !important;
		margin: 10px 0;
		font-weight: 700;
	}
	.activityView {
		margin: 0px;
	}
	.icons8-Family-Two-Men, .icons8-Family-Two-Women {
		display: none;
	}
	.actInfo {
		height: 100% !important;
		position: relative;
	}
	.DayPickerInput {
		width: 40%;
		margin: 0 auto;
	}
	.dateMod {
		height: 400px;
		padding-top: 50px;
	}
}

@media (max-width: 575px) {
	.dateSelect {
		width: 90% !important;
	}
}

@media (max-width: 500px) {
	.singleAct-header {
		font-size: 2.5rem !important;
	}
	.activity-header{
		font-size: 2rem !important;
	}
	.noActs {
		font-size: 1.4rem !important;
	}
}

