.register-child {
	display: flex !important;
	justify-content: center;
}

.childReg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	line-height: 3em;
	margin-bottom: 50px;
}

.childInfoTitle{
	font-size: 40px;
	font-family: 'BioRhyme', cursive;
	font-weight: 300;
}

.childInfoNote {
	font-size: 24px;
	font-family: 'BioRhyme', cursive;
	font-weight: 300;
}

.smileyFace {
	margin: 70px 0 20px 0 !important;
	font-size: 5em !important;
}

@media (max-width: 600px){
	.childInfoTitle{
		font-size: 30px;
	}

	.childInfoNote {
		font-size: 18px;
	}
}

@media (max-width: 460px){
	.childInfoTitle{
		font-size: 26px;
	}

	.childInfoNote {
		font-size: 16px;
	}
}

@media (max-width: 400px){
	.childInfoTitle{
		font-size: 24px;
	}

	.childInfoNote {
		font-size: 14px;
	}
}