.teamCards {
  height: 410px !important;
  width: 225px !important;
}

.photo {
  height: 215px !important;
}

.row {
  flex: row;
}

.name-cards {
	display: flex !important;
	justify-content: space-around !important;
}
