.loginButton {
  display: inline-block;
  justify-content: flex;
  cursor: pointer; cursor: hand;
  background-color: #96E8EA;
  border: 2px solid black;
  border-radius: 5px;
}

.sidebarnav {
  background-color: #00FA9A !important;
}

.homeHeader {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
  color: #00FFFF !important;
}
