.login-segment {
	padding-top: 0px !important;
}

.login-font{
	margin: 0 auto;
	padding-top: 100px !important;
	font-size: 60px !important;
	color: orange !important;
}

.interface {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100px;
	margin-top: 50px;
}

.trioCards {
	height: 410px;
  width: 400px;
}

.bottomHalf {
	display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ui.card:first-child {
	margin-top: 10px !important;
}

.interWords {
	font-size: 28px;
	font-weight: 400;
	font-family: 'BioRhyme', cursive;
}

.instructions {
	display: flex;
	justify-content: space-around;
	text-align: center;
}

.ui.left.aligned.header{
	text-align: center !important;
}

.login-input{
	background-color: rgba(255, 255, 255, 0.3) !important;
}

.register-login {
	display: flex !important;
	flex-direction: column;
	height: 642px;
}

.steps {
	display: flex !important;
	justify-content: center !important;
}

.form {
	width: 80%;
	margin: 0 auto;
	padding-top: 80px;
}

.registrationButton, .registrationHeader {
  font-family: "Helvetica", cursive, sans-serif !important;
  border: 2px solid #F2711C !important;
  color: #F2711C !important;
  background-color: white !important;
	font-weight: 500 !important;
}

.registrationButton:hover {
	color: white !important;
	background-color: #F2711C !important;
}

@media (max-width: 897px){
	.register-login {
		height: 1100px !important;
	}
	.ui.cards.stackCards {
		justify-content: center !important;
	}
}

@media (max-width: 768px){
	.register-login {
		height: 1450px !important;
	}
	.ui.card>.image, .ui.cards>.card>.image {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
	.interWords {
		font-size: 24px;
	}
}

@media (max-width: 540px) {
	.interWords {
		font-size: 20px;
	}
}

@media (max-width: 455px) {
	.interWords {
		font-size: 18px;
	}
}

@media (max-width: 443px){
	.register-login {
		height: 1500px !important;
	}
}

@media (max-width: 455px) {
	.interWords {
		font-size: 16px;
	}
}