.mainNavbar {
  padding: 2px;
}

.nav-logged-out {
	display: flex;
	justify-content: space-between;
	width: 100%;	
}

.nav-logged-in {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.ui.secondary.pointing.menu {
	border-bottom: 0 !important;
}


.home-nav-button{
	color: #FF7F00 !important;
	border: 2px solid #FF7F00 !important;
}

.home-nav-button:hover {
color: white !important;
border: 2px solid white !important;
}

.profile-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.profile-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.logout-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.logout-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.itinerary-nav-button{
		font-family: ArialRoundedMTBold !important;
		font-size: 16px !important;
		letter-spacing: 1.22px !important;
}

.itinerary-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.activities-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.activities-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

.contact-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.contact-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.about-us-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.about-us-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

.register-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.register-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

.login-nav-button{
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	letter-spacing: 1.22px !important;
}

.login-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

