.mainNavbar {
  background: url('../photodump/homebackground.jpg');
  color: !important;
  padding: 2px;

}

.nav-logged-out {
	display: flex;
	justify-content: space-between;
	width: 100%;	
}

.nav-logged-in {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.ui.secondary.pointing.menu {
	border-bottom: 0 !important;
}


.home-nav-button{
	color: #FF7F00 !important;
	background-color: white !important;
	border: 2px solid #FF7F00 !important;
}

.home-nav-button:hover {
color: white !important;
border: 2px solid white !important;
}

.profile-nav-button{
	background: #FF7100 !important;
	background-image: linear-gradient(-222deg, #FAD961 0%, #F77623 73%, #F77623 73%, #F76B1C 97%)!important;
	border: 2px solid #FFFFFF !important;
	box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.profile-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.logout-nav-button{
	background: #00F86B !important;
	background-image: linear-gradient(-180deg, #A3FF00 0%, #429321 100%) !important;
	border: 2px solid #FFFFFF !important;
	box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.logout-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.itinerary-nav-button{
		background: #345EF2 !important;
		background-image: linear-gradient(-223deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 94%) !important;
		border: 2px solid #FFFFFF !important;
		box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
		border-radius: 30px !important;
		font-family: ArialRoundedMTBold !important;
		font-size: 16px !important;
		color: #FFFFFF !important;
		letter-spacing: 1.22px !important;
}

.itinerary-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.activities-nav-button{
	background: #00B4FD !important;
	background-image: linear-gradient(-223deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 94%) !important;
	border: 2px solid #FFFFFF !important;
	box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.activities-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

.contact-nav-button{
	background: #FA000D !important;
  background-image: linear-gradient(-228deg, #FF0017 0%, #9F041B 100%) !important;
	border: 2px solid #FFFFFF !important;
	box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.contact-nav-button:hover{
	color: white !important;
	border: 2px solid white !important;
}

.about-us-nav-button{
	background: #FF7100 !important;
	background-image: linear-gradient(-222deg, #FAD961 0%, #F77623 73%, #F77623 73%, #F76B1C 97%)!important;
	border: 2px solid #FFFFFF !important;
	box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.about-us-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

.register-nav-button{
	background: #00B4FD !important;
	background-image: linear-gradient(-223deg, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 94%) !important;
	border: 2px solid #FFFFFF !important;
	box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.register-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

.login-nav-button{
	background: #00F86B !important;
	background-image: linear-gradient(-180deg, #A3FF00 0%, #429321 100%) !important;
  border: 2px solid #FFFFFF !important;
  box-shadow: 0 13px 15px 2px rgba(0, 0, 0, 0.95) !important;
	border-radius: 30px !important;
	font-family: ArialRoundedMTBold !important;
	font-size: 16px !important;
	color: #FFFFFF !important;
	letter-spacing: 1.22px !important;
}

.login-nav-button:hover{
color: white !important;
border: 2px solid white !important;
}

