.nameHere {
  text-align: center;
}

.profContainer {
  padding-left: 100px !important;
  padding-right: 100px !important;
  display: inline-flex !important;
  flex-direction: row !important;
}

.avatar {
  padding-left: 50px;
}

.bigBox {
  border: 1px solid grey;
  border-radius: 7px;
  box-shadow: 0 5px 0 0 grey;
  margin: 20px 30px 0 30px;
  height: 600px;
}

.child {
  height: 225px !important;
  width: 500px !important;
}

.username {
  text-align: center !important;
}
.photos {
  height: 225px;
  width: 225px;
}
