.registrationHeader {
  font-size: 48px !important;
  color: #FF8C00 !important;
}

.registrationButton, .registrationHeader {
  font-family: "Helvetica", cursive, sans-serif !important;
}

.regBackground {
	margin: 0 !important;
}

.register-parent {
	display: flex !important;
	justify-content: center;
}

.create-profile {
	padding-top: 20px !important;
	padding-bottom: 15px !important;
	color: white;
}

.form {
	padding-top: 20px !important;
}