.registrationHeader {
  font-size: 48px !important;
  color: #FF8C00 !important;
}

.registrationButton, .registrationHeader {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

.regBackground {
  background-color: #4169E1 !important;
	margin: 0 !important;
}

.register-parent {
	display: flex !important;
	justify-content: center;
}
